/**
 * Defaults
 */
body {

  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
a:link {
	text-decoration: none;

}

a:visited {
	text-decoration: none;
	color:white;
}
a:hover {
	color:grey;
}
img {

  }
footer {

	border-style: solid;
	border-width:2px 0 0 0;
	border-color: black;
 }
 footer p {
 	margin-left: 10%;
 }
 h1 {
 	color:white;
 }
.main-nav-item a{
	color:white;
}
/**
 * Layout Styles
 *
*/

.header {
  padding:1rem;
  margin:0 0 1rem 0;
}
.head-wrapper {
	background-color: black;
}
.container {
	padding: 1rem;
  margin:0 auto;
  max-width:960px;
}

.main-nav-list {
  list-style: none;
  font-style: italic;
  margin: 0;
  padding: 0;
}


.main-nav-item a {
  padding:.5rem;

}
.main-nav-item a:hover {
  color:grey;

}

.hero-image {
	margin: 0;
}
.hero-image img {
	border-radius: .25rem;
 	display: block;
 	height: auto;
 	width: 100%;
}
.article {
	padding:0 10%;
	width:80%;
}
.article p {
	line-height: 1.5;
}
.article p:first-of-type {
	font-weight: 700;
}
.article2 {
	padding:0 10%;
	width:80%;
}
.article2 p {
	line-height: 1.5;
}
/**
* Utilities
*/
.flex {
  display:flex;
}

.items-center {
  align-items:center;
}

.space-between {
  justify-content:space-between;
}
.row {
  flex-direction:row;
}

.row-reverse {
  flex-direction:row-reverse;
}
.gallery {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(2, 1fr)

}
.gallery img {
	border-radius: .5rem;
  	display: block;
  	height: auto;
  	width: 100%;
}
/**
* Larger sceens
*/

@media screen and (min-width: 600px){
  .header{
/*     display:flex;
      align-items:center;
      justify-content:space-between; */
  }

  .main-nav-list {
/*     display:flex;
      align-items:center; */
  }
  /**
  * Utilities
  */
  .flex-md {
    display:flex;
  }

  .items-center-md {
    align-items:center;
  }

  .space-between-md {
    justify-content:space-between;
  }
  .row-md {
    flex-direction:row;
  }

  .row-reverse-md {
    flex-direction:row-reverse;
  }
  .gallery {
	grid-template-columns: repeat(3, 1fr)
}
